/* 


*/


body {
    font-family: 'Lato', sans-serif !important;

}

.bg-instagram {
    background: var(--instagram, linear-gradient(239deg, #C913B9 -2.57%, #F9373F 44.58%, #FECD00 91.55%));
}


.input_bg {
    background-color: rgba(255, 255, 255, 0.60);
}

.img-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}



/* Other styles for your container */
/* .absolute {
    position: absolute;
    right: -70px;
} */



@media(max-width:1024px) {
    .img-move {
        display: none;
    }
}
